@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.background1 {
  background: linear-gradient(90deg, rgb(192, 192, 192) 37%, rgb(145, 142, 135) 100%);
  background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.background2 {
  background: linear-gradient(90deg, rgba(86,100,249,1) 37%, rgba(0,0,0,1) 100%);
  background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.background3 {
  background: linear-gradient(90deg, rgb(213, 214, 121) 37%, rgb(168, 141, 4) 100%);
  background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.background4 {
  background: linear-gradient(90deg, rgb(245, 67, 174) 37%, rgba(136,3,51,1) 100%);
  background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.background5 {
  background: linear-gradient(90deg, rgba(190,151,146,1) 37%, rgba(129,77,64,1) 100%);
  background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}