@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: radial-gradient(circle, rgba(214,255,228,1) 0%, rgba(111,126,134,1) 100%);
  height: 100vh; /*body занимает 100% пространства*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px 0 0;
}

.slide {
  height: 80vh; /*80% от видимой части экрана*/
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1; /*элемент растягивается пропорционально*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.text {
  background: radial-gradient(circle, rgb(176, 202, 184) 37%, rgb(175, 178, 180) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-lr;
  margin: 0;
  transform:rotate(180deg);
}
